<!-- mobile header -->
<header class="header__mobile">
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <h1 class="header__nav-logo">
                    <a routerLink="/">
                        Dainji
                    </a>
                </h1>
            </li>
            <li appClickOutside (appClickOutside)="isSearching = false">
                <form [formGroup]="searchForm" class="header__search-form" (ngSubmit)="onSearchInput()">
                    <div class="header__search">
                        <i (click)="toggleSearch()" class="fa-solid fa-magnifying-glass"></i>
                        <div class="header__search-box" [class]="{'isSearching': isSearching}">
                            <input class="header__search-input" formControlName="email" (click)="isSearching=true"
                                type="text" placeholder="type email">
                        </div>
                    </div>
                    <div class="result__search" *ngIf="isSearching && resultUser!= null">
                        <a class="result__search-link" *ngIf="resultUser">
                            <img [src]="resultUser?.avatar" alt="{{ resultUser?.username }} avatar" class="avatar">
                            <span>{{ resultUser?.firstName + ' ' + resultUser?.lastName }}</span>
                        </a>
                        <div class="button__state">
                            <button *ngIf="isOwnProfile()" class="primary-btn" (click)="isSearching=false"
                                routerLink="/profile">
                                view
                            </button>
                            <button *ngIf="isFriend()" (click)="getOrCreateConversation()" class="primary-btn">
                                chat
                            </button>
                            <button *ngIf="!isFriend() && !isOwnProfile()" (click)="addFriend()"
                                class="primary-btn">add</button>
                        </div>
                    </div>
                </form>
            </li>
            <li class="header__nav-item profile" appClickOutside (appClickOutside)="isProfile = false">
                <img (click)="toggleProfile()" [src]="user.avatar" [alt]="user.username + ' avatar'" class="avatar">
                <!-- Profile Menu -->
                <div *ngIf="isProfile" class="profile__menu">
                    <div class="profile__user-info">
                        <img [src]="user.avatar" class="avatar" alt="avatar_user">
                        <div>
                            <h3 class="profile__user-fullname">{{ user.firstName + ' ' + user.lastName }}</h3>
                            <p class="profile__username">&#64;{{ user.username }}</p>
                        </div>
                    </div>
                    <ul>
                        <li><a (click)="toggleProfile()" routerLink="/profile">Profile</a></li>
                        <li><a (click)="toggleProfile()" routerLink="/settings">Settings</a></li>
                        <li><a (click)="logout()">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>