<app-auth-intro [title]="title" [description]="description"></app-auth-intro>
<div class="signUp">

  <form class="form">
    <div class="form__group">
      <label for="firstName" class="form__label">firstName</label>
      <input type="text" id="firstName" class="form__input" name="firstName">
    </div>
    <div class="form__group">
      <label for="lastName" class="form__label">lastName</label>
      <input type="text" id="lastName" class="form__input" name="lastName">
    </div>

    <div class="form__group">
      <label for="username" class="form__label">Username</label>
      <input type="text" id="username" class="form__input" name="username">
    </div>

    <div class="form__group">
      <label for="email" class="form__label">Email</label>
      <input type="text" id="email" class="form__input" name="email">
    </div>

    <div class="form__group">
      <label for="password" class="form__label">password</label>
      <input type="text" id="password" class="form__input" name="password">
    </div>

    <button class="form__submit" type="submit">Sign Up</button>

  </form>

  <div class="signUp__footer">
    <p class="signUp__footer-text">Already have an account?</p>
    <a class="signUp__footer-link" routerLink="/login">Login</a>
  </div>

  <div class="or">
    <div class="or__line"></div>
    <span class="or__text">or</span>
    <div class="or__line"></div>
  </div>

  <div class="social-login">
    <button class="social-login__btn social-login__btn--google">Sign up with Google</button>
  </div>

</div>