.messages {
  margin: 10px 20px !important;

  &__header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc !important;

    &-title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__item {
    text-decoration: none;
    display: grid;
    grid-template-areas: "avatar content time";
    grid-template-columns: 1fr 4fr 2fr;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    }

    &:last-child {
      border-bottom: none;
    }

    &-avatar {
      grid-area: "avatar";
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #eee;
      margin-right: 10px;
      border: 1px solid #ddd;
    }

    &-content {
      grid-area: "content";
      font-size: 16px;
      color: #555;
      overflow: hidden;
    }

    &-sender {
      font-weight: bold;
      color: #333;
    }

    &-text {
      margin: 5px 0;
      height: 10px;
      line-height: 1.1;
      white-space: normal;
      word-wrap: break-word; /* hoặc word-break: break-word; */
      overflow: visible;
    }

    &-time {
      grid-area: "time";
      color: #555;
    }
  }
}
