<div class="friends">
    <form class="form" [formGroup]="formFilterAndSearch">
        <div class="form__search">
            <input name="search" type="text" placeholder="Search friends..." formControlName="searchTerms" />
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <!-- <div class="form__filter">
            <select name="" id="filter">
                <option value="" disabled selected>--Select filter</option>
                <option value="">A to Z</option>
                <option value="">Z to A</option>
                <option value="">Recently Added</option>
            </select>
        </div> -->
    </form>

    <div class="friends__main">
        <div class="group-btn">
            <button class="group-btn__all-friends btn" (click)="getAll()">All Friends</button>
            <button class="group-btn__friend-requests btn" (click)="getFriendRequests()">Friend Requests</button>
            <button class="group-btn__friend-rcm btn" (click)="getFriendRecommendations()">Friend
                Recommendations
            </button>
        </div>

        <div class="friends__length">
            <h1>{{ listFriends?.length || 0 }} Friends</h1>
        </div>

        <div class="friends__list" *ngIf="listFriends">
            <div class="friends__list-item" *ngFor="let friend of listFriends, let i = index">
                <div class="user">
                    <div class="status">
                        <img [src]="friend?.avatar" alt="{{ friend?.username }} avatar" class="avatar">
                        <i [ngClass]="{'online': friend?.isOnline, 'offline': !friend?.isOnline}"
                            class="dot fa-solid fa-circle"></i>
                    </div>
                    <span>{{ friend?.firstName + ' ' + friend?.lastName }}</span>
                </div>
                <button *ngIf="typeOfList == 'all'" class="options-btn" (click)="showOptions(friend._id)">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <ul class="options" [ngClass]="{'show': isUserShowOptions === friend._id}">
                        <li><a (click)="getOrCreateConversation(friend._id)" href="#">Chat with
                                {{friend?.username}}</a>
                        </li>
                        <li>
                            <a (click)="unFriend(friend._id)" class="delete" href="#">Unfriend with
                                {{friend?.username}}
                            </a>
                        </li>
                    </ul>
                </button>

                <button *ngIf="typeOfList === 'requests'" class="accept-btn friend-btn"
                    (click)="acceptRequest(friend._id)">
                    accept
                </button>

                <button *ngIf="typeOfList === 'recommendations'" class="add-btn friend-btn">
                    add
                </button>
            </div>
        </div>

        <ng-container *ngIf="listFriends == undefined || listFriends?.length === 0">
            <ng-container *ngIf="typeOfList === 'all'">
                <p>No friends.</p>
            </ng-container>
            <ng-container *ngIf="typeOfList === 'requests'">
                <p>No friend requests.</p>
            </ng-container>
            <ng-container *ngIf="typeOfList === 'recommendations'">
                <p>No friend recommendations.</p>
            </ng-container>
            <ng-container *ngIf="typeOfList === 'search'">
                <p>No friends found.</p>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="listFriends === null">
            <p>Loading friends...</p>
        </ng-container>
    </div>
</div>